/* VARIABLES */

:root {
  --u: 16px;
  --width: 320px;
  --color-one: blue;
  --color-one: #333333;
  --color-two: #EEEEEE;
  --color-two: #DDDDDD;
  --color-thr: #DDDDDD;
}

/* GLOBAL */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*background-color: rgba(0,0,0,0.1);*/

    user-select:none;
}

html {
    background-color: var(--color-thr);

    font-family: "CMRDD-Regular";
    font-size: 1rem;
    color: var(--color-one);
    line-height: 1.2;
}

/* ELEMENTS */

input {
    padding: calc(var(--u)/4);

    border: 1px solid var(--color-one);
    border-radius: 2px;
    background-color: var(--color-two);
    /*box-shadow: 2px 2px 10px var(--color-one);*/
    
    font-family: "CMRDD-Regular";
    font-size: 1rem;
    color: var(--color-one);
    line-height: 1.3;
}

/* INTERFACE */

#interface {
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    padding: var(--u);
    z-index: 1000;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    display: none;
    color: var(--color-one);
}

#interface > * {
    margin-bottom: calc(var(--u) / 2);
    height: calc(var(--u) * 2);
}

#interface input[type=text] {
    width: 100%;
}

#interface input[type=color] {
    width: 100%;
}

#interface input[type=button] {
    width: 30%;
}

/* CONTAINER */

#container {
    transform-origin: left top;
    width: 10000px;
    height: 10000px;
    margin: 0;
    padding: 0;
}

/* ADD */

#add {
    position: absolute;
    width: 3rem;
    
    box-shadow: 2px 2px 10px var(--color-one);
}

#add:hover {
    cursor: pointer;
}



/* OBJ */

/* root */
#root {
    display: block;
}

/* write */

#write > .content {
    width: var(--width);
    min-width: var(--width);
    height: 20rem;
    min-height: 10rem;
    margin-bottom: var(--u);
    display: block;
   
    border: none;
    background-color: transparent;
}

#write > .content:focus {
    outline: none;
}

/* objs */

.obj {
    position: absolute;
    padding: calc(var(--u));
    display: none;

    box-shadow: 2px 2px 10px var(--color-one);
    border: 1px solid var(--color-one);
    border-radius: 2px;
    background-color: var(--color-two);
}

.obj.open {
    display: block;
}

.obj > .header {
    margin-bottom: calc(var(--u) /2);
    padding-bottom: calc(var(--u) /2);

    border-bottom: 1px solid var(--color-one);
}

.obj > .header:hover {
   cursor: grab;  
}

.obj > .content {
    width: var(--width);

    font-family: "CMRDD-Regular";
    font-size: 1rem;
    color: var(--color-one);
    line-height: 1.3;
}

.obj > .content {
   user-select: text;
}

.obj > .content > span{
    user-select: text;
}

.obj > .content > [data-children-ids]:hover {
    cursor: pointer;
}

.obj > .content > [data-children-length] {
    background-color: #ff0000;
    background-color:rgba(255,255,0,1);
    /*
    border-radius: 2px;
    box-shadow: 0px 0px 2px;
    */
}

.obj > .content > [data-children-length="1"] {
    background-color: #ffff00;
    background-color:rgba(255,255,0,0.2);
}

.obj > .content > [data-children-length="2"] {
    background-color: #ffce00;
    background-color:rgba(255,255,0,0.4);
}

.obj > .content > [data-children-length="3"] {
    background-color: #ff9a00;
    background-color:rgba(255,255,0,0.6);
}

.obj > .content > [data-children-length="4"] {
    background-color: #ff5a00;
    background-color:rgba(255,255,0,0.8);
}
